Test/Implement Database Recovery

* Do the recovery manually with only the operator
* Implement `cloudctl postgres clone` to allow for automated recovery/clone

```
NAME                                      READY   STATUS    RESTARTS   AGE
db87d5d11b14cc45-a2fe9f2efa854168bd90-0   3/3     Running   0          19h
db87d5d11b14cc45-a2fe9f2efa854168bd90-1   3/3     Running   0          19h
db87d5d11b14cc45-a2fe9f2efa854168bd90-2   3/3     Running   0          19h
db87d5d11b14cc45-restoredb-0              1/1     Running   0          78s
postgres-operator-546744c484-l9wkq        1/1     Running   1          19h
```
```
apiVersion: "acid.zalan.do/v1"
kind: postgresql
metadata:
  name: db87d5d11b14cc45-restoredb
  namespace: db87d5d11b14cc45-a2fe9f2efa854168bd90
spec:
  teamId: db87d5d11b14cc45
  numberOfInstances: 1
  postgresql:
    version: "12"
  volume:
    size: 100Gi
    storageClass: csi-lvm-sc-linear
# restore a Postgres DB with point-in-time-recovery
# with a non-empty timestamp, clone from an S3 bucket using the latest backup before the timestamp
# with an empty/absent timestamp, clone from an existing alive cluster using pg_basebackup
  clone:
    uid: "8adb72e6-961a-4a8a-b6fd-a8e0a8dbdbae"
    cluster: "db87d5d11b14cc45-a2fe9f2efa854168bd90"
    timestamp: "2021-07-02T17:00:00+01:00"  # timezone required (offset relative to UTC, see RFC 3339 section 5.6)
    s3_endpoint: URL
    s3_access_key_id: KEY
    s3_secret_access_key: SECRET_KEY
    s3_force_path_style: true
```

```
# Desaster Recovery: Clone DB created by Postgreslet
cloudctl postgres clone \
  --source <SOURCE_DB>\ # Defines Size, Version, Volume, S3 Config, ...
  --uid <INTERNAL_ID_OF_DB_IN_BACKUP>\ 
  -- timestamp <POINT_IN_TIME>\
  --description <NEW_DESCRIPTION>\
  --partition <PARTITION>\
  --verion <EQUAL_OR_HIGHER>\
  --storage <STORAGE_SIZE>\
  ```
  
  ```
  # Migration: Clone DB created outside into the Postgreslet
cloudctl postgres migrate \
  --src-cluster POSTGRES_CLUSTER_NAME\ # TODO refine name
  --src-uid <INTERNAL_ID_OF_DB_IN_BACKUP>\ 
  --timestamp <POINT_IN_TIME>\ # Needed for migration?
  --src-s3-endpoint <URL>\
  --src-s3-access-key <KEY>\
  --src-s3-secret-access-key <SECRET>\
  --src-backup-config <BACKUP_CONFIG>\ # Alternative: Create clone with S3 values from existing backup-config?
  --backup-config <BACKUP_CONFIG>\ # Used for the backups of the clone
  --description <NEW_DESCRIPTION>\
  --version ...\
  --cpu ...\
  --buffer ...\
  --storage ...\
  # ...everything create offers or just the basics?...
 ```

We start with a **clone**, not with a restore in an existing database. if hell breaks loose, it should be possible to manually edit the clones `Service` to use the port of the old source db (once it was deleted and it's port released)

TODO: Try to automatically read the UID and add it to the status, so that `cloudctl postgres ls -o wide` shows that uid.

* What happens to that `clone` Block in the custom resource? Will it be removed automatically? Shall we add this to the API?
* How to obtain the uid of the database to clone? And can this be automated as well?
* How to test this? Anything special to consider?
* How to find a valid point in time?
* If anything goes wrong while cloning, do we edit or recreate that clone?
* What can go wrong? Wrong UID? Wrong S3 config? Wrong Timestamp? Wrong version?
* What about the Databse Secrets? Does the operator use the existing ones, or does it create new ones?